langchain
python-dotenv
ipykernel
langchain_groq
langchain_google_genai
langchain_openai
langchain_community
pypdf
faiss-cpu

structlog
PyMuPDF
datetime

pandas
streamlit
transformers
torch
accelerate
-e .

#pip install -r requirements.txt
